# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/tmp/cache/*
!/tmp/cache/assets
/tmp/cache/assets/*
/tmp/storage/*
!/tmp/storage/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore master key and credentials.
/config/master.key
/config/credentials/*.key

# Ignore system-wide environment files.
.env
.env.*.local

# Ignore byebug command history file.
.byebug_history

# Ignore node modules
/node_modules/

# Ignore yarn and npm logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Ignore sprockets and other cache
/public/assets
/public/packs
/public/packs-test
/public/packs-dev
/public/packs-production
/public/vite

# Ignore compiled library assets.
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore coverage reports.
/coverage/

# Ignore SQLite databases.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-shm
/db/*.sqlite3-wal

# Ignore temporary files
*.swo
*.swp
*.tmp
*.bak

# Ignore Mac system files
.DS_Store

# Ignore Ruby version & gemset (if using rvm)
.ruby-gemset
.ruby-version

# Ignore editor config files
.idea/
.vscode/

# Ignore Spring files
spring/*.pid

# Ignore bootsnap cache
/tmp/bootsnap-*
